<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Test Suite" verbose="1">

    <test name="TecnoGSM - Home Page Tests">
        <classes>
            <class name="TecnoGSM.tests.HomePageTest"/>
        </classes>
    </test>

    <test name="TecnoGSM - Search Tests">
        <classes>
            <class name="TecnoGSM.tests.SearchTest"/>
        </classes>
    </test>

</suite>
